body{
    margin: 0;
    padding: 10px;
}

/* nav bar design */
.headContainer{
    display: flex;
    justify-content: center;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 10px;
    border-radius: 50px;
    font-size: 20px;
    background-color: whitesmoke;
    color: red;
}
.nav a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
.nav a:hover{
    border-bottom: 3px solid aqua;
}
#navButton button{
    font-size: 17px;
    border: none;
    text-decoration: none;
}
#navButton button:hover{
    border-bottom: 4px solid red;
}
/* Image and quote design */
.container{
    /* height: 70vh; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
}
.container h1{
    color: red;
}
.quote{
    height: 300px;
    width: 300px;
    font-size: 18px;
    text-align: justify;
    padding:0 10px;
    margin: 0 10px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: whitesmoke;
}
.devloperImg img{
    height: 300px;
    width: 300px;
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
}

/* About section edit  */
.aboutEdu{
    text-align: center;
    background-color: whitesmoke;
    padding: 15px 0;
    border-radius: 50px;
    color: red;
}
.education{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.education h1{
    color: #000;
    padding: 0 10px;
}
.impEdu h1,h2{
    text-align: center;
    background-color: whitesmoke;
    padding: 15px 10px;
    border-radius: 50px;

}

/* Skills  */
.skills{
    margin: 20px 10px;
}

/* iNTERNSHIP DESIGNING */

.internship{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    margin: 10px 0;
    padding: 0px 10px;
}
.theSparkFoundation{
    width: 330px;
    font-size: 18px;
    text-align:center;
    padding:25px 10px;
    margin: 0 10px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: rgb(117, 205, 232);
    padding: 0px 10px;
}
.theSparkFoundation h1{
    border-bottom: 4px dotted red;
    margin:  3px 5px;
}
.oasisInfobyte{
    width: 330px;
    font-size: 18px;
    text-align:center;
    padding:25px 10px;
    margin: 0 10px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: rgb(117, 205, 232);
    padding: 0px 10px;
}
.oasisInfobyte h1{
    border-bottom: 4px dotted red;
    margin:  3px 8px;
    text-align:center;
}
.oasisInfobyte h2{
    text-align:center
}

/* Projects Designing  */
.projects{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 0px 10px;
}
.projects div{
    margin: 10px 0;
}
.isparkToys{
    width: 330px;
    font-size: 18px;
    text-align:center;
    padding:25px 10px;
    margin: 0 10px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: rgb(117, 205, 232);
    padding: 0px 10px;
}
.isparkToys img{
    width: 260px;
    height:400px;
    border-radius: 40px;
}
.isparkToys h1{
    border-bottom: 4px dotted red;
    margin:  3px 8px;
    text-align:center;
}

.sprinkles{
    width: 330px;
    font-size: 18px;
    text-align:center;
    padding:25px 10px;
    margin: 0 10px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: rgb(117, 205, 232);
    padding: 10px 10px;
}
.sprinkles img{
    width: 260px;
    height: 400px;
    border-radius: 40px;
}
.sprinkles h1{
    border-bottom: 4px dotted red;
    margin:  3px 8px;
    text-align:center;  
}

/* footer design */
.footer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.contactUs{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width:100%;
    background-color: rgb(117, 205, 232);
    border-radius: 50px;
}

.socialMedia{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 50px;
}
.socialMedia h3{
    border-bottom: 4px dotted red;
    margin:  3px 8px;
    text-align:center;  
}
.socialMedia i{
    margin: 10px 50px;
}
.address{
     display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 50px;
}
.address i{
    margin: 10px 50px;
}
.address h3{
    border-bottom: 4px dotted red;
    margin:  3px 8px;
    text-align:center;  
}